---
layout: 'layouts/empty.njk'
title: Home
stylesheets:
  - '/styles/home.css'
scripts:
  - '/scripts/home.js'
---
<div class="main">
    <div class="section container" sec-num="1">
        <div>
            <img src="/assets/icon.png" alt="Icon" class="icon">
            <h1 class="title">RSA CLI</h1>
            <h3 class="description">Encrypt Right in your Terminal</h3>
        </div>
    </div>
</div>